[submodule "app/components/openocd/openocd"]
	path = app/components/openocd/openocd
	url = ssh://git@gitlab.espressif.cn:27227/idf/openocd-esp32.git
[submodule "app/components/jimtcl/jimtcl"]
	path = app/components/jimtcl/jimtcl
	url = ssh://git@gitlab.espressif.cn:27227/idf/jimtcl.git
