CMakeCache.txt
CMakeFiles
CMakeScripts
Makefile
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
*.out
*.elf
*.a
*.bin
*.hex
*.map
*.lss
*.old
.idea/*
.DS_Store
cmake-build-debug/*
.vscode/*
build/*
doc/*
workspace.code-workspace
sdkconfig
sdkconfig.old

