[submodule "main/openocd"]
	path = main/openocd
	url = ssh://git@gitlab.espressif.cn:27227/idf/openocd-esp32.git
[submodule "components/jimtcl/jimtcl"]
	path = components/jimtcl/jimtcl
	url = ssh://git@gitlab.espressif.cn:27227/idf/jimtcl.git
